<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="ad.size" content="width=<%= adWidth %>,height=<%= adHeight %>">
        <title><%= adName %> (<%= adWidth %>x<%= adHeight %>)</title>
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript">var clickTag = "https://www.google.com"</script>
    </head>
    <body>
        <div id="ad">
            <div id="banner" class="MC_animation_playing" data-loop="true" data-loopCount="1">
                <!-- background image wrappers -->
                <div id="backgroundWrappers">
                  <!-- image 1 -->
                  <div id="image_1" data-name="frame 1 image"></div>
                  <!-- image 2 -->
                  <div id="image_2_mask">
                    <div id="image_2" data-name="frame 2 image left"></div>
                  </div>
                  <!-- image 3 -->
                  <div id="image_3_mask">
                    <div id="image_3" data-name="frame 2 image right"></div>
                  </div>
                  <!-- image 4 -->
                  <div id="image_4_mask">
                    <div id="image_4" data-name="frame 3 image left"></div>
                  </div>
                  <!-- image 4 -->
                  <div id="image_4b_mask">
                    <div id="image_1b" data-name="frame 4.5 image left"></div>
                  </div>

                  <!-- image 5 -->
                  <div id="image_5_mask">
                    <div id="image_5" data-name="frame 5 image >"></div>
                  </div>

                  <div id="image_6" data-name="frame 6 image >"></div>
                  <div id="image_6_darken" data-name="frame 6 image darken"></div>
               </div>
               <div id="border"></div>
               <div id="border_outer"></div>
               <!-- background image wrappers END-->

               <!-- titles -->
               <div id="title_holder">
                 <div id="title_1" data-name="California Aspargus Goes"></div>

                <div id="title_right_mask">
                  <div id="title_3" data-name="2 prepared"></div>
                  <div id="title_5" data-name="2 served"></div>
                  <div id="title_7" data-name="2 fans"></div>
                </div>

                <div id="title_left_mask">
                   <div id="title_2" data-name="From Planted"></div>
                   <div id="title_4" data-name="stacked"></div>
                   <div id="title_6" data-name="farm"></div>
                </div>
                 <!-- titles END-->
            </div>

            <!-- CTA / Super -->
            <div id="super" data-name="super"></div>
            <div id="super1" data-name="super1">
              <div id="label"></div>
            </div>
            <div id="super1_over" data-name="super1"></div>
            <div id="logo" data-name="logo"></div>

            <div id="bolts">
              <!-- frame 1 -->
              <div id="bolts_1_left"></div>
              <div id="bolts_1_right"></div>
                <!-- frame 3 -->
              <div id="bolts_2_left"></div>
              <div id="bolts_2_right"></div>
              <!-- frame 5 -->
            <div id="bolts_3_left"></div>
            <div id="bolts_3_right"></div>
            </div>
        </div>

    <script src="js/EBLoader.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>
